html{
    background-image: url(Images/tower2.jpg);
    background-size: cover;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header{
    border-radius: 15px;
    background-color: orange;
    color: white;
    text-align: center;
    border: 10px solid white;
    margin-top: 30px;
    margin-left: 10px;
    width: 550px;
}
.iithlogo{
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;

}
.iithlogo img{
    max-width: 40%;
    max-height: 1%;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-box{
    border-radius: 15px;
    width: 300px;
    background-color: orange;
    margin: 30px;
    color: white;
    text-align: center;
    padding: 1px;
    border: 10px solid white;
}
.form-group{
    margin: 15px;  
    color: white;
    font-weight: bold;  
}